body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

body > main {
  flex-basis: 60%;
  flex-grow: 1;
}

body > section#global {
  flex-basis: 30%;
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 2em;
}

body > footer {
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 2em;
  flex-basis: 100%;
}

pre {
	padding-left: 2em;
	white-space: pre-wrap;
}

img {
    max-width: 100%;
}
